{% extends 'base.html' %}

{% block title %}
     - Prospects
{% endblock %}

{% block subject %}
     <span id="title_p">Prospects</span>
{% endblock %}

{% block body %}

<h1 style="text-align: center">The Greatest Wildcat Prospects</h1>
<div class="grid-container">
     <button onclick="window.location.href = 'http://127.0.0.1:5000/prospects/GVMS'
          ">Gypsum Valley <br> Mt. States Prospect</button>
     <button type="button" disabled>Prospect <br> Under Development</button>
     <button type="button" disabled>Prospect <br> Under Development</button>
     <button type="button" disabled>Prospect <br> Under Development</button>
     <button type="button" disabled>Prospect <br> Under Development</button>
     <button type="button" disabled>Prospect <br> Under Development</button>
     <button type="button" disabled>Prospect <br> Under Development</button>
     <button type="button" disabled>Prospect <br> Under Development</button>
     <button type="button" disabled>Prospect <br> Under Development</button>
</div>


{% endblock %}
