html {height: 100%;
     width: 100%; }

body {top:1.8em;
     height: 100%;
     width: 100%;
     padding:0.5em;
     position: relative;
     background: #eee; }

/**********************************************************************
***********************************************************************
     NAV BAR
***********************************************************************
***********************************************************************/
nav {background: lightgray;
     display: flex;
     align-items: center;
     width: 100%;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 5;
}

nav h1 {flex: auto; margin: 0; font-family: serif;
     color: #377ba8; padding: 0px 0px 0px 10px;}

nav ul {display: flex; margin: 0; padding: 0px 25px 0px 0px;}
nav ul a {color: #377ba8; font-family: sans-serif;}
nav ul li {display: block; padding: 0.5rem; }

/**********************************************************************
***********************************************************************
     OPTIONS MODAL
***********************************************************************
***********************************************************************/
#optionBtn{
  color:#fff;
  width:18px;
  height:18px;
  border:0;
  border-radius: 50%;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
}

#optionBtn:hover{
  animation: optionBtnhover 0.7s forwards;
}

#optionSubmit{
  color:black;
  background-color: lightgray;
  width:80%;
  /* text-align: center; */
  /* align-items: center; */
  padding:2px;
  border-radius: 10%;
  text-decoration: none;
  margin:5px;
}

@keyframes optionBtnhover{
  from {background-color:lightgray}
  to {background-color:white}
}

.modal{
  display:none;
  position:fixed;
  z-index:10;
  left:0;
  top:0;
  height:100%;
  width:100%;
  overflow:auto;
  background-color:rgba(0, 0, 0, 0.3);
}

.modal-content{
  background-color:white;
  position:fixed;
  z-index:1;
  right:2px;
  top:35px;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  color:black;
  width:20%;
  /* box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17); */
}

.modal-body{
  z-index:1;
  width:100%;
  /* right:2px; */
  /* top:10%; */
  background-color:#f2f2f2;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: gray;
  margin-top: 10px;
  padding: 0px;
}

.modal-submit{
  margin-top:10px;
  text-align: center;
  /* border-radius: 5px; */
  width:100%;
  background-color:white;
}

.submitBtn{
  color:black;
  border-radius: 10px;
  background-color:#f2f2f2;
  width:90%;
  font-size: 20px;
}

.submitBtn:hover, .submitBtn:focus{
  color:black;
  background-color:#999999;
  text-decoration: none;
  cursor:pointer;
}

/* ********************************************************************
***********************************************************************
          AUTHENTICATION FIELDS
***********************************************************************
***********************************************************************/
.content { padding: 0 1rem 1rem; }
.content > header { border-bottom: 1px solid lightgray;
     display: flex; align-items: flex-end;}
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0;}
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content input, .content textarea { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical; }
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: flex-start;; min-width: 10em; }

/* ********************************************************************
***********************************************************************
          LITERATURE NAVBAR
***********************************************************************
***********************************************************************/

/* ********************************************************************
   LITERATURE BUTTONS AND DROPDOWNS
**********************************************************************/
#base2_container {background-color: lightgray; position: fixed;
     width: 100%; top: 33px; left: 0; font-family: helvetica;
     z-index: 6}
#base2_container select, input, button {display: inline; font-size: 14pt;
     margin: 0; padding: 0; top: 0; width: 15%;
     background-color: lightgray; color: #377ba8; border-style: solid;
     border-color: silver;}

#base2_menu {display: flex;}

#base2_container button:hover,
#nav_list a:hover,
#base2_container select:hover {
    background-color: #666;
    color: white;
}

.btn {
     font-size: 14pt;
     font-family: helvetica;
     width: 15%;
     background-color: lightgray;
     color: #377ba8;
     border-style: solid;
     border-color: silver;
     text-align: left;
}

.btn2 {
  background-color: lightgray;
  border: none;
  color: #377ba8;
  padding: 12px 16px;
  font-size: 14px;
  cursor: pointer;
}

.sm_dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* ********************************************************************
          EXPANDING SEARCH BAR NEW (AWESOME)
***********************************************************************/
.search-box{
  position: absolute;
  top: 10%;
  left: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-justify: none;
  transform: translate(-100%, 0%);
  background: #999999;
  /* background: #2f3640; */
  height: 17px;
  width: 17px;
  border-radius: 40px;
  padding: 10px;
  transition: 0.4s;
}

.search-box:hover{
  width: 500px;
}

.search-box:hover > .search-txt{
  width: 500px;
}

/* .search-btn:hover{
  background: white;
} */

.search-btn{
  /* color: #e84118; */
  color: #ff99aa;
  /* background: #2f3640; */
  background: #999999;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transition: 0.4s; */
}

.search-txt{
  border: none;
  background: none;
  outline: none;
  color: white;
  font-size: 16px;
  line-height: 17px;
  width: 0px;
  transition: 0.4s;
}

/* ********************************************************************
          LITERATURE EDIT BUTTONS
***********************************************************************/
.refEditButton {color:blue; font-style: italic;}
.refEditTextHit:hover {
    background-color: pink;
    cursor: pointer;
}
.refEditButton:hover {
    background-color: skyblue;
    cursor: pointer;
}

/* ********************************************************************
          LITERATURE SEARCH
***********************************************************************/
.references {position: absolute; top: 20px; background-color: white;
     line-height: 20px; padding-left: 70px;
     font-family: sans-serif; font-size: 12pt;}

/* ********************************************************************
***********************************************************************
          LITERATURE EDITING PAGE
***********************************************************************
***********************************************************************/
.form{
	max-width: 500px;
	padding: 20px 12px 10px 20px;
	font: 13px Arial, Helvetica, sans-serif;
}
.form-heading{
	font-weight: bold;
	font-style: italic;
	border-bottom: 2px solid #ddd;
	margin-bottom: 20px;
	font-size: 24px;
	padding-bottom: 3px;
}
.form label,
.form div > label{
	display: block;
	margin: 0px 0px 15px 0px;
}
.form label > span,
.form div  > span,
.form div > label {
	width: 100px;
	font-weight: bold;
	float: left;
	padding-top: 8px;
	padding-right: 5px;
}

.form p {
  top:0;
	font-weight: bold;
}

.form .small-field {
     width: 75%;
     height:35px;
     background-color: white;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	-moz-box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 7px;
	outline: none;
     font-size: 10pt;
     font-weight: normal;
     font-style: normal;
     font-family: sans-serif;
     color: black;
}

.form .smaller-field {
     width: 75%;
     height:25px;
     background-color: white;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	-moz-box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 7px;
	outline: none;
     font-size: 10pt;
     font-weight: normal;
     font-style: normal;
     font-family: sans-serif;
     color: black;
}

.form .large-field {
     width:75%;
     height:200px;
     background-color: white;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	-moz-box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 7px;
	outline: none;
     font-size: 10pt;
     font-weight: normal;
     font-style: normal;
     font-family: sans-serif;
     color: black;
}

.form .select-dropdown {
    background-color: white;
  	border: 1px solid #C2C2C2;
    border-radius: 7px;
  	padding: 2px;
  	outline: none;
}

.form #list-districts {
     border: 1px solid #C2C2C2;
     background-color: white;
     padding: 0;
     width: 75%;
     margin: 0 0 20px 0;
}

.form #list-categories {
     border: 1px solid #C2C2C2;
     background-color: white;
     padding: 0;
     width: 75%;
     margin: 15px 0 30px 0;
}

.form #list-specials {
     border: 1px solid #C2C2C2;
     background-color: white;
     padding: 0;
     width: 75%;
     margin: 15px 0 30px 0;
}

.form .small-field:focus,
.form .large-field:focus,
.form .select-dropdown:focus{
	border: 2px solid #0C0;
}

#districts_former, #categories_former, #specials_former {
     font-size: 10pt;
     font-weight: normal;
     font-style: normal;
     font-family: sans-serif;
     color: black;
}

.form .edit_buttons > button{
	padding: 8px 15px 8px 15px;
     color: black;
	box-shadow: 1px 1px 4px black;
	-moz-box-shadow: 1px 1px 4px black;
	-webkit-box-shadow: 1px 1px 4px black;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
     width: 175px;
     height: 40px;
     margin: 10px;
     background: lightgray;
     align-content: center;
     font-size: 12pt;
}

.form button[type=button]:hover{
     background: lightgray;
	color: red;
}
.select-dropdown {
	width:100px;
}
.edit_selects label {
	display:inline-block;
}

.edit_buttons {
	margin: 10px 0 0 85px;
}
.edit_buttons input {
	display:inline-flex;
	margin: 5px;
}

.editDistrictDeleteButton, .editCategoryDeleteButton, .editSpecialDeleteButton {color:#FF6347; font-style: italic;}
.editDistrictDeleteButton:hover, .editCategoryDeleteButton:hover, .editSpecialDeleteButton:hover {
    background-color: skyblue;
    cursor: pointer;
}

/* ********************************************************************
***********************************************************************
          DEPOSITS
***********************************************************************
***********************************************************************/
.deposits_show {position: absolute; top: 32px; background-color: white;
     line-height: 20px; padding-left: 70px;
     font-family: sans-serif; font-size: 12pt;}

 /* ********************************************************************
 ***********************************************************************
           DEPOSITS EDITING PAGE
 ***********************************************************************
 ***********************************************************************/
 .editDepositPage{
   background-color: skyblue;
   max-width: 500px;
   padding: 20px 12px 10px 20px;
   font: 13px Arial, Helvetica, sans-serif;
   font-weight: bold;
 }
 .editDepositPage .heading{
   font-weight: bold;
   font-style: italic;
   border-bottom: 2px solid #ddd;
   margin: 0;
   font-size: 24px;
   padding-bottom: 3px;
 }

 .editDepositPage p {
   margin-top: 20px;
   margin-bottom: 0;
 }

 /* ********************************************************************
          DEPOSITS EDIT BUTTONS
***********************************************************************/
.depositEditButton {color:blue; font-style: italic;}
.depositEditTextHit:hover {
    background-color: pink;
    cursor: pointer;
}
.depositEditButton:hover {
    background-color: skyblue;
    cursor: pointer;
}

 /* ********************************************************************
        SIMPLE ROWS
 ***********************************************************************/
 .editDepositPage .row_div {
   width: 100%;
   height: 30px;
   display:block;
   margin-top: 10px;
 }

 .editDepositPage .row_input {
   background-color: white;
   height: 70%;
   width: 70%;
   float:right;
   font: 13px Arial, Helvetica, sans-serif;
   color: black;
 }

 /* ********************************************************************
        BUTTONS(Save, Cancel, New SJM Deposit, Delete Deposit)
 ***********************************************************************/
 .editDepositPage .buttons > button{
   padding: 8px 15px 8px 15px;
   color: black;
   box-shadow: 1px 1px 4px black;
   -moz-box-shadow: 1px 1px 4px black;
   -webkit-box-shadow: 1px 1px 4px black;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   width: 200px;
   height: 40px;
   margin: 20px 0 0 30px;
   background: lightgray;
   align-content: center;
   font-size: 12pt;
 }

 .editDepositPage button[type=button]:hover{
       background: #eee;
 }

 /* ********************************************************************
        DROPDOWNS (DISTRICTS, COUNTRIES, STATES, COUNTIES)
 ***********************************************************************/
.editDepositPage ul {
  margin-left:0;
  padding-left: 10px;
  font-weight:normal;
}

/* SMALL DELETE SUFFIXES */
.editDepositsDeleteButton {color:#FF6347; font-style: italic;}

.editDepositsDeleteButton:hover{
    background-color: skyblue;
    cursor: pointer;
}

.editDepositPage .bigRow {
  width: 500px;
  /* background:pink; */
  overflow:hidden;
}

.editDepositPage .listClass {
  float:right;
  width: 70%;
  background:white;
  min-height: 40px;
  height:auto;
}

/* ********************************************************************
***********************************************************************
          MAPS PAGE
***********************************************************************
***********************************************************************/
#cesiumContainer {
          position: absolute;
          top: 100px; width: 97%; height: 100%;
          margin: 0; padding:0; overflow: hidden;
      }

/* ********************************************************************
***********************************************************************
          MISCELLANEOUS
***********************************************************************
***********************************************************************/
.active {
    background-color: #666;
    color: white;
}

.dropbtn {background-color: #4CAF50;color: white;padding: 16px;font-size: 16px;
    border: none;cursor: pointer;}
.dropbtn:hover, .dropbtn:focus {background-color: #3e8e41;}
.dropdown {position: fixed; display: inline-block;}
.all-content {display: none; position: relative; background-color: #f9f9f9;
    min-width: 160px; overflow: auto; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);}
.all-content li {color: black; padding: 12px 16px; text-decoration: none;
    display: block;}
.all-content li:hover {background-color: #f1f1f1}
.show {display:block;}

/* ********************************************************************
***********************************************************************
          HOME PAGE
***********************************************************************
***********************************************************************/
.homepage_container {
  position: relative;
  margin: 0 auto; /* Center it */
}

.homepage_container h1 {
     background-color: skyblue;
     text-align: center;
     border-radius: 10px;
     padding: 5px;
     margin-right:20px;
}

.homepage_container img {
     display: block;
     width: 100%;
}

.homepage_content {
  /* overflow: auto; */
  font-size: 18pt;
  position: absolute;
  bottom: 10px;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.0); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 90%;
  /* white-space: pre-wrap;
  white-space: pre-line; */
}

/* ********************************************************************
***********************************************************************
          PROSPECTS PAGE
***********************************************************************
***********************************************************************/
.grid-container {
     display: grid;
     grid-template-columns: auto auto auto ;
     grid-row-gap: 12px;
     grid-column-gap: 10px;
     background-color: #2196F3;
     padding: 10px;
     margin-right:20px;
}

.grid-container > button {
     background-color: rgba(255, 255, 255, 0.8);
     text-align: center;
     padding: 20px 0;
     width:auto;
     font-size: 30px;
     border-radius: 10px;
}

.grid-container > button[type=button]:disabled {
     background-color: #dddddd;
     color: #999999;
}

/* ********************************************************************
***********************************************************************
          GYPSUM VALLEY PROSPECT PAGE
***********************************************************************
***********************************************************************/
.gv_prospect_container h1 {
     background-color: skyblue;
     text-align: center;
     border-radius: 10px;
     padding: 5px;
     margin-right:20px;
}
.gv_prospect_container p {
     margin:40px;
     font-size: 24px;
     padding:20px;
     background-color: white;
     white-space: pre-wrap;
     white-space: pre-line;
}

.gv_prospect_container {
     background-color: white;
}

#loc_map{
     /* background-color: white; */
     width: 50%;
     background-color: #eee;
     margin-left: 25%;
     margin-right: 25%;
}

#X_SECT_LV{
     background-color: #eee;
     width: 90%;
     margin-left: 5%;
     margin-right: 5%;
}

#X_SECT_GV{
     background-color: #eee;
     width: 90%;
     margin-left: 5%;
     margin-right: 5%;
}

#LOG{
     margin-top:30px;
     width:33%;
     margin-left:33%;
     background-color: #eee;
}

#MB{
     margin-top:30px;
     width:33%;
     margin-left:33%;
     background-color: #eee;
}

/* ********************************************************************
***********************************************************************
          FINS PROSPECT PAGE
***********************************************************************
***********************************************************************/
/* .container_fins p {
     background-color:#eee;
     font-size:24px;
     padding: 20px;
     margin: 0;
} */

.text_fins{
     font-size:24px;
     padding: 20px;
     margin: 0;
     background-color: white;
}

.parallax1_fins, .parallax2_fins, .parallax3_fins, .parallax4_fins, .parallax5_fins {
     background-attachment: fixed;
     background-repeat: no-repeat;
     background-color: white;
}

.parallax1_fins {
     height: 75%;
     background-position: 50% 20%;
     background-image: url('../img/salt_anticline_simple_map.png');
}

.parallax2_fins {
     height: 100%;
     background-position: 50% 20%;
     background-image: url('../img/Lisbon_full.png');
}

.parallax3_fins {
     height: 75%;
     background-position: 50% 20%;
     background-image: url('../img/gyp_val_full.png');
}

.parallax4_fins {
     height: 80%;
     background-position: 50% 10%;
     background-image: url('../img/ThreeStatesCompilation.png');
}

.parallax5_fins {
     height: 80%;
     background-position: 50% 10%;
     background-image: url('../img/moss_back.png');
}
