{% extends 'base.html' %}

{% block title %}
     - Maps
{% endblock %}

{% block subject %}
     <span id="title_tp">Maps</span>
{% endblock %}

{% block body %}

<div id="cesiumContainer"></div>
  <script>
       var lats = [38.19029, 38.25777, 38.1261]
      var lons = [-109.25679, -109.28347, -109.1718]
      var deposits = ['Mi Vida', 'North Alice', 'Velvet']

      Cesium.Ion.defaultAccessToken = '{{CESIUM_API_KEY}}';
      var viewer = new Cesium.Viewer('cesiumContainer');

      for (var i = 0; i < deposits.length; i++) {
           var miVida = viewer.entities.add({
               name : deposits[i],
               position : Cesium.Cartesian3.fromDegrees(lons[i], lats[i]),
               point : {
                   pixelSize : 5,
                   color : Cesium.Color.RED,
                   outlineColor : Cesium.Color.WHITE,
                   outlineWidth : 2
               },
               label : {
                   text : deposits[i],
                   font : '14pt monospace',
                   style: Cesium.LabelStyle.FILL_AND_OUTLINE,
                   outlineWidth : 2,
                   verticalOrigin : Cesium.VerticalOrigin.BOTTOM,
                   pixelOffset : new Cesium.Cartesian2(0, -9)
               }
           });
       }

       viewer.zoomTo(viewer.entities);
 </script>

{% endblock %}
