{% extends 'base.html' %}

{% block title %}
     Maps
{% endblock %}

{% block subject %}
     <span id="title1">Maps</span>
{% endblock %}

{% block body %}

<select style="width:20%"; id="button_districts_map">
      <option></option>
</select>

<select style="width:20%"; id="button_counties_map">
      <option></option>
</select>

<select style="width:20%"; id="button_countries_map">
      <option></option>
</select>

<!-- <select style="width:20%"; id="button_deposits_map" multiple ="multiple">
      <option></option>
</select> -->

<select style="width:20%"; id="button_deposit_map">
      <option></option>
</select>

<div id="cesiumContainer"></div>

<!-- *****************************************************************
LOADING PROGRESS ICON
***************************************************************** -->
<div id="wait" style="display:none;width:69px;height:89px;border:1px
     solid black;position:absolute;top:200px;
     left:50%;padding:2px;">
     <img src="{{url_for('static', filename='img/demo_wait.gif')}}"
          width="64" height="64" />
     <br>Loading..
</div>

<script>

$(document).ready(function() {

  $("#wait").show();

  var index = 0
  var usrMapLabels_yn = 'n'

  //*************************************************************
  //   AJAX CALL TO RETRIEVE DISTRICTS
  //*************************************************************
  $.ajax({
     type: "GET",
     url: "http://127.0.0.1:5000/literature/districts_all",
     success: function(data) {
          objects = JSON.parse(data.Districts)
          $.each(objects, function(i, object) {
               $temp = "<option " + "value="  + object.district_id + ">"
                    + object.district_name + '</option>'
               //console.log('Districts: ajax $temp ', $temp)
               $('#button_districts_map').append($temp);
          });
       }
   });

   //*************************************************************
   //   AJAX CALL TO RETRIEVE COUNTIES
   //*************************************************************
   $.ajax({
      type: "GET",
      url: "http://127.0.0.1:5000/literature/counties_all",
      success: function(data) {
           objects = JSON.parse(data.Counties)
           $.each(objects, function(i, object) {
                var state_county = object.state + ' : ' + object.county
                var state_county_ids = object.state_id + ':' + object.county_id
                $temp = "<option " + "value="  + state_county_ids + ">"
                     + state_county + '</option>'
                //console.log('Counties: ajax $temp ', $temp)
                $('#button_counties_map').append($temp);
           });
        }
    });

    //*************************************************************
    //   AJAX CALL TO RETRIEVE COUNTRIES
    //*************************************************************
    $.ajax({
       type: "GET",
       url: "http://127.0.0.1:5000/literature/countries_all",
       success: function(data) {
            objects = JSON.parse(data.Countries)
            $.each(objects, function(i, object) {
              $temp = "<option " + "value="  + object.country_id + ">"
                   + object.country + '</option>'
                 //console.log('Counties: ajax $temp ', $temp)
                 $('#button_countries_map').append($temp);
            });
         }
     });

    //*************************************************************
    //   AJAX CALL TO RETRIEVE DEPOSITS
    //*************************************************************
    $.ajax({
       type: "GET",
       url: "http://127.0.0.1:5000/maps/deposits_sjm",
       success: function(data) {
            objects = JSON.parse(data.Deposits)
            $.each(objects, function(i, object) {
                 $temp = "<option " + "value="  + object.deposit_id + ">"
                      + object.deposit_name + '</option>'
                 index += 1
                 //console.log('Deposits: ajax $temp ', index, ': ',$temp)
                 $('#button_deposit_map').append($temp);
            });
         },
      complete: function(){
          $("#wait").hide();
        }
     });

//*************************************************************
//   BY_DISTRICT SELECTION
//*************************************************************
$selectElement =  $("#button_districts_map").select2({
  placeholder : 'Select a District'
});

$("#button_districts_map").change(function() {
     var selected_id = $(this).children("option:selected").val();
     //console.log('selected_id', selected_id)
     doAjax_getSessionOptions();
     doAjax_deposits_by_district(selected_id);
});

//*************************************************************
//   BY_COUNTY SELECTION
//*************************************************************
$selectElement =  $("#button_counties_map").select2({
  placeholder : 'Select a County'
});

$("#button_counties_map").change(function() {
     var selected_id = $(this).children("option:selected").val();
     //console.log('selected_id', selected_id)
     doAjax_getSessionOptions();
     doAjax_deposits_by_county(selected_id);
});

//*************************************************************
//   BY_COUNTRY SELECTION
//*************************************************************
$selectElement =  $("#button_countries_map").select2({
  placeholder : 'Select a Country'
});

$("#button_countries_map").change(function() {
     var selected_id = $(this).children("option:selected").val();
     //console.log('selected_id', selected_id)
     doAjax_getSessionOptions();
     doAjax_deposits_by_country(selected_id);
});

//*************************************************************
//   BY_DEPOSIT SELECTION
//*************************************************************
$selectElement =  $("#button_deposit_map").select2({
  placeholder : 'Select a Deposit',
  //minimumInputLength: 3
});

$("#button_deposit_map").change(function() {
      var selected_id = $("#button_deposit_map").val()
      doAjax_getSessionOptions();
      //console.log('By_Deposit2: selected_ids', selected_id)
      doAjax_deposit_by_deposit(selected_id);
});

//*************************************************************
//AJAX CALL TO GET SESSION OPTIONS
//*************************************************************
var doAjax_getSessionOptions = function() {
     //console.log("doAjax_getSessionOptions");
     $.ajax({
        type: "GET",
        url: "http://127.0.0.1:5000/options_home",
        success: function(data) {
             usrMapLabels_yn = data.usrMapLabels_yn
          },
        complete: function(){
        }
    });
  }

//*************************************************************
//AJAX CALL TO RETRIEVE DEPOSIT COORDS FOR SELECTED DISTRICT,
//*************************************************************
var doAjax_deposits_by_district = function(inputValue) {
     //console.log("inputValue ", inputValue);
     var deposit_ids = []
     var deposit_names = []
     var lats = []
     var lons = []
     var labels = []
     var descriptions = []
     var databases = []
     var deposit_ids_uniq = []
     var districts = []
     var districts_all = []
     const indexOfAll = (arr, val) => arr.reduce((acc, el, i) => (el === val ? [...acc, i] : acc), []);

     $.ajax({
        type: "GET",
        url: "http://127.0.0.1:5000/maps/deposits_by_district/" + inputValue,
        success: function(data) {
          objects = JSON.parse(data.Deposits)

          $.each(objects, function(i, object) {
               deposit_ids.push(object.deposit_id)
               districts_all.push(object.district_name)
               deposit_ids_uniq.push(object.deposit_id)
          });

          deposit_ids_uniq = jQuery.uniqueSort(deposit_ids_uniq)

          $.each(deposit_ids_uniq, function(i, deposit_id_uniq) {
            inds = indexOfAll(deposit_ids, deposit_id_uniq)
            for (i = 0; i < inds.length; i++) {
              index = inds[i]
              district = districts_all[index]
              districts.push(district)
            }

            object = objects[inds[0]]

            aliases = object.aliases
            country = object.country
            county = object.county
            database = object.database_name
            deposit_name = object.deposit_name
            grade = object.grade
            latitude = object.latitude
            longitude = object.longitude
            pounds_u3o8 = object.pounds_u3o8
            state = object.state

            description = country
            label = deposit_id_uniq + ': ' + deposit_name

            if (state) {
               description =  state + ', ' + description
                 }
            if (county) {
                label = label + ': ' + county
                }

            description = description + '::: Aliases = ' + aliases + ': Grade = ' + grade + ': Pounds U3O8 = ' + pounds_u3o8 + ': Database = ' + database + ' :Districts = ' + districts

            //console.log('description', description)

            deposit_names.push(deposit_name);
            lats.push(latitude);
            lons.push(longitude);
            labels.push(label);
            databases.push(database)
            descriptions.push(description)

            districts = []

          });
        },
         complete: function(){

             $('#cesiumContainer').empty()

             Cesium.Ion.defaultAccessToken = '{{CESIUM_API_KEY}}';
             var viewer = new Cesium.Viewer('cesiumContainer');
             var showText_tf = false
             if  (usrMapLabels_yn == 'y'){
               showText_tf = true
             }

             for (var i = 0; i < deposit_names.length; i++) {
                  //console.log('labels[i] ', labels[i])
                  database = databases[i]
                  if (database == 'sjm'){
                    //symColor = new Cesium.Color(255,0,0,0.0)
                    symColor = Cesium.Color.RED
                    symOutlineColor = Cesium.Color.BLACK
                    symSize =7
                    symOutlineSize = 2
                  } else if (database == 'drum') {
                    symColor = Cesium.Color.BLUE
                    symOutlineColor = Cesium.Color.WHITE
                    symSize = 7
                    symOutlineSize = 2
                  } else {
                    symColor = Cesium.Color.WHITE
                    symOutlineColor = Cesium.Color.BLACK
                    symSize = 7
                    symOutlineSize = 2
                  }

                  var myDistrict = viewer.entities.add({
                      name : labels[i],
                      position : Cesium.Cartesian3.fromDegrees(lons[i], lats[i]),
                      point : {
                          pixelSize : symSize,
                          color : symColor,
                          outlineColor : symOutlineColor,
                          outlineWidth : symOutlineSize
                      },
                      description: descriptions[i],
                      label : {
                          //text : deposit_ids[i],
                          show: showText_tf,
                          text : deposit_names[i],
                          font : '14pt monospace',
                          style: Cesium.LabelStyle.FILL_AND_OUTLINE,
                          outlineWidth : 2,
                          verticalOrigin : Cesium.VerticalOrigin.BOTTOM,
                          pixelOffset : new Cesium.Cartesian2(0, -9)
                      }
                  });
                }

             viewer.zoomTo(viewer.entities);

         }
    });
 };

 //*************************************************************
 //AJAX CALL TO RETRIEVE DEPOSIT COORDS FOR SELECTED COUNTY
 //*************************************************************
 var doAjax_deposits_by_county = function(state_county_ids) {
      var spt = state_county_ids.split(':')
      var state_id = parseInt(spt[0])
      var county_id = parseInt(spt[1])
      var deposit_ids = []
      var deposit_ids_uniq = []
      var deposit_names = []
      var lats = []
      var lons = []
      var labels = []
      var descriptions = []
      var databases = []
      var districts_all = []
      var districts= []
      const indexOfAll = (arr, val) => arr.reduce((acc, el, i) => (el === val ? [...acc, i] : acc), []);

      //Main complication is arranging entries for last object
      $.ajax({
         type: "GET",
         url: "http://127.0.0.1:5000/maps/deposits_by_county/" + county_id + "/" + state_id,
         success: function(data) {
          objects = JSON.parse(data.Deposits)

          $.each(objects, function(i, object) {
               deposit_ids.push(object.deposit_id)
               districts_all.push(object.district_name)
               deposit_ids_uniq.push(object.deposit_id)
          });

          deposit_ids_uniq = jQuery.uniqueSort(deposit_ids_uniq)

          $.each(deposit_ids_uniq, function(i, deposit_id_uniq) {
            inds = indexOfAll(deposit_ids, deposit_id_uniq)
            for (i = 0; i < inds.length; i++) {
              index = inds[i]
              district = districts_all[index]
              districts.push(district)
            }

            object = objects[inds[0]]

            aliases = object.aliases
            country = object.country
            county = object.county
            database = object.database_name
            deposit_name = object.deposit_name
            grade = object.grade
            latitude = object.latitude
            longitude = object.longitude
            pounds_u3o8 = object.pounds_u3o8
            state = object.state

            description = country
            label = deposit_id_uniq + ': ' + deposit_name

            if (state) {
               description =  state + ', ' + description
                 }
            if (county) {
                label = label + ': ' + county
                }

            description = description + '::: Aliases = ' + aliases + ': Grade = ' + grade + ': Pounds U3O8 = ' + pounds_u3o8 + ': Database = ' + database + ' :Districts = ' + districts

            //console.log('description', description)

            deposit_names.push(deposit_name);
            lats.push(latitude);
            lons.push(longitude);
            labels.push(label);
            databases.push(database)
            descriptions.push(description)

            districts = []

          });

         },
          complete: function(){

              $('#cesiumContainer').empty()

              Cesium.Ion.defaultAccessToken = '{{CESIUM_API_KEY}}';
              var viewer = new Cesium.Viewer('cesiumContainer');

              var showText_tf = false
              if  (usrMapLabels_yn == 'y'){
                showText_tf = true
              }

              for (var i = 0; i < deposit_names.length; i++) {
                   //console.log('databases[i] ', databases[i])
                   database = databases[i]
                   if (database == 'sjm'){
                     //symColor = new Cesium.Color(255,0,0,0.0)
                     symColor = Cesium.Color.RED
                     symOutlineColor = Cesium.Color.BLACK
                     symSize = 7
                     symOutlineSize = 2
                   } else if (database == 'drum') {
                     symColor = Cesium.Color.BLUE
                     symOutlineColor = Cesium.Color.WHITE
                     symSize = 7
                     symOutlineSize = 2
                   } else {
                     symColor = Cesium.Color.WHITE
                     symOutlineColor = Cesium.Color.BLACK
                     symSize = 7
                     symOutlineSize = 2
                   }

                   //console.log('database, symColor ', database, ' ', symColor)

                   var myDistrict = viewer.entities.add({
                       name : labels[i],
                       position : Cesium.Cartesian3.fromDegrees(lons[i], lats[i]),
                       point : {
                           pixelSize : symSize,
                           color : symColor,
                           outlineColor : symOutlineColor,
                           fill : false,
                           outlineWidth : symOutlineSize
                       },
                       description: descriptions[i],
                       label : {
                           show: showText_tf,
                           text : deposit_names[i],
                           font : '14pt monospace',
                           style: Cesium.LabelStyle.FILL_AND_OUTLINE,
                           outlineWidth : 2,
                           verticalOrigin : Cesium.VerticalOrigin.BOTTOM,
                           pixelOffset : new Cesium.Cartesian2(0, -9)
                       }
                   });
               }

              viewer.zoomTo(viewer.entities);

          }
      });
  };

  //*************************************************************
  //AJAX CALL TO RETRIEVE DEPOSIT COORDS FOR SELECTED COUNTRY
  //*************************************************************
  var doAjax_deposits_by_country = function(country_id) {
       //var spt = state_county_ids.split(':')
       //var state_id = parseInt(spt[0])
       //var country_id = parseInt(spt[1])
       var deposit_ids = []
       var deposit_ids_uniq = []
       var deposit_names = []
       var lats = []
       var lons = []
       var labels = []
       var descriptions = []
       var databases = []
       var districts_all = []
       var districts= []
       const indexOfAll = (arr, val) => arr.reduce((acc, el, i) => (el === val ? [...acc, i] : acc), []);

       //Main complication is arranging entries for last object
       $.ajax({
          type: "GET",
          url: "http://127.0.0.1:5000/maps/deposits_by_country/" + country_id,
          success: function(data) {
           objects = JSON.parse(data.Deposits)

           $.each(objects, function(i, object) {
                deposit_ids.push(object.deposit_id)
                districts_all.push(object.district_name)
                deposit_ids_uniq.push(object.deposit_id)
           });

           deposit_ids_uniq = jQuery.uniqueSort(deposit_ids_uniq)

           $.each(deposit_ids_uniq, function(i, deposit_id_uniq) {
             inds = indexOfAll(deposit_ids, deposit_id_uniq)
             for (i = 0; i < inds.length; i++) {
               index = inds[i]
               district = districts_all[index]
               districts.push(district)
             }

             object = objects[inds[0]]

             aliases = object.aliases
             country = object.country
             county = object.county
             database = object.database_name
             deposit_name = object.deposit_name
             grade = object.grade
             latitude = object.latitude
             longitude = object.longitude
             pounds_u3o8 = object.pounds_u3o8
             state = object.state

             description = country
             label = deposit_id_uniq + ': ' + deposit_name

             if (state) {
                description =  state + ', ' + description
                  }
             if (county) {
                 label = label + ': ' + county
                 }

             description = description + '::: Aliases = ' + aliases + ': Grade = ' + grade + ': Pounds U3O8 = ' + pounds_u3o8 + ': Database = ' + database + ' :Districts = ' + districts

             //console.log('description', description)

             deposit_names.push(deposit_name);
             lats.push(latitude);
             lons.push(longitude);
             labels.push(label);
             databases.push(database)
             descriptions.push(description)

             districts = []

           });

          },
           complete: function(){

               $('#cesiumContainer').empty()

               Cesium.Ion.defaultAccessToken = '{{CESIUM_API_KEY}}';

               var esri = new Cesium.ArcGisMapServerImageryProvider({
                 url : 'https://services.arcgisonline.com/ArcGIS/rest/services/NatGeo_World_Map/MapServer/'
               });
               //var viewer = new Cesium.Viewer('cesiumContainer');
               var viewer = new Cesium.Viewer('cesiumContainer', {
                 imageryProvider : esri
               });

               var showText_tf = false
               if  (usrMapLabels_yn == 'y'){
                 showText_tf = true
               }

               for (var i = 0; i < deposit_names.length; i++) {
                    //console.log('databases[i] ', databases[i])
                    database = databases[i]
                    if (database == 'sjm'){
                      //symColor = new Cesium.Color(255,0,0,0.0)
                      symColor = Cesium.Color.RED
                      symOutlineColor = Cesium.Color.BLACK
                      symSize = 7
                      symOutlineSize = 2
                    } else if (database == 'drum') {
                      symColor = Cesium.Color.BLUE
                      symOutlineColor = Cesium.Color.WHITE
                      symSize = 7
                      symOutlineSize = 2
                    } else {
                      symColor = Cesium.Color.WHITE
                      symOutlineColor = Cesium.Color.BLACK
                      symSize = 7
                      symOutlineSize = 2
                    }

                    //console.log('database, symColor ', database, ' ', symColor)

                    var myDistrict = viewer.entities.add({
                        name : labels[i],
                        position : Cesium.Cartesian3.fromDegrees(lons[i], lats[i]),
                        point : {
                            pixelSize : symSize,
                            color : symColor,
                            outlineColor : symOutlineColor,
                            fill : false,
                            outlineWidth : symOutlineSize
                        },
                        description: descriptions[i],
                        label : {
                            show: showText_tf,
                            text : deposit_names[i],
                            font : '14pt monospace',
                            style: Cesium.LabelStyle.FILL_AND_OUTLINE,
                            outlineWidth : 2,
                            verticalOrigin : Cesium.VerticalOrigin.BOTTOM,
                            pixelOffset : new Cesium.Cartesian2(0, -9)
                        }
                    });
                }

               viewer.zoomTo(viewer.entities);

           }
       });
   };

  //*************************************************************
  //AJAX CALL TO RETRIEVE DEPOSIT COORDS FOR SELECTED DEPOSIT,
  //*************************************************************
  var doAjax_deposit_by_deposit = function(selected_id) {

       //console.log('doAjax_deposit_by_deposit: selected_id', selected_id)

       $.ajax({
          type: "GET",
          url: "http://127.0.0.1:5000/maps/deposit_by_deposit/" + selected_id,
          success: function(data) {
                object = JSON.parse(data.Deposit)

                deposit_id = object.deposit_id

                country = object.country
                county = object.county
                database = object.database_name
                deposit_name = object.deposit_name
                district = object.district_name
                grade = object.grade
                lat = object.latitude
                lon = object.longitude
                pounds_u3o8 = object.pounds_u3o8
                state = object.state

                description = country
                if (state) {
                    description =  state + ', ' + description
                }
                if (county) {
                    description =  county + ' County, ' + description
                }

                description =  description + ' :Grade = ' + grade + ': Pounds U3O8 = ' + pounds_u3o8 + ' :Database = ' + database + ' :District = ' + district

                label = deposit_id + ': ' + deposit_name

                //console.log('label ', label)
                //console.log('description ', description)

          },
           complete: function(){

               $('#cesiumContainer').empty()

               Cesium.Ion.defaultAccessToken = '{{CESIUM_API_KEY}}';
               var viewer = new Cesium.Viewer('cesiumContainer');
               var showText_tf = false
               if  (usrMapLabels_yn == 'y'){
                 showText_tf = true
               }
                  //  console.log('label2 ', label)
                    var myDistrict = viewer.entities.add({
                        name : label,
                        position : Cesium.Cartesian3.fromDegrees(lon, lat),
                        point : {
                            pixelSize : 5,
                            color : Cesium.Color.RED,
                            outlineColor : Cesium.Color.WHITE,
                            outlineWidth : 2
                        },
                        description: description,
                        label : {
                            show: showText_tf,
                            text : deposit_name,
                            font : '14pt monospace',
                            style: Cesium.LabelStyle.FILL_AND_OUTLINE,
                            outlineWidth : 2,
                            verticalOrigin : Cesium.VerticalOrigin.BOTTOM,
                            pixelOffset : new Cesium.Cartesian2(0, -9)
                        }
                    });

               viewer.zoomTo(viewer.entities);

           }
      });
   };
});


</script>

{% endblock %}
