<!DOCTYPE html>
<html>
<head>
     <title>UX - {% block title %}{% endblock %} </title>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
     <script src="https://cesiumjs.org/releases/1.53/Build/Cesium/Cesium.js"></script>
     <link href="https://cesiumjs.org/releases/1.53/Build/Cesium/Widgets/widgets.css" rel="stylesheet">
     <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.full.min.js"></script>
     <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js">
    </script>
</head>

<nav>
     <h1> UX - {% block subject %}{% endblock %} </h1>
  <ul id="nav_list">
       {% if g.user %}
          <li><span>{{ g.user['username'] }}</span>
       {% endif %}
     <li><a href="{{ url_for('home.homepage') }}">Home</a>
     <li><a href="{{ url_for('literature.literature') }}">Literature</a>
     <li><a href="{{ url_for('deposits.deposits_home') }}">Ore Deposits</a>
     <li><a href="{{ url_for('maps.maps_home') }}">Maps</a>
     <li><a href="{{ url_for('trading_post.the_trading_post') }}">Trading Post</a>
     <li><a href="{{ url_for('prospects.the_prospects') }}">Prospects</a>
     {% if g.user %}
          <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
     {% else %}
     <li><a href="{{ url_for('auth.register') }}">Register</a>
     <li><a href="{{ url_for('auth.login') }}">Log In</a>
     {% endif %}
     <button id="optionBtn"><i class='fas fa-ellipsis-v' style='color:gray;'></i></button>
  </ul>
</nav>
{% block body %}{% endblock %}

<!-- SET UP OPTION MODAL -->
<div id="simpleModal" class="modal">
    <div class="modal-content">
               <span class="closeBtn">&times;</span>
               <h3>Select Databases:</h3>
        <div class="modal-body">
            <form action="">
                <input id="myMRDS" type="checkbox" oninput="submit_dbs('MRDS')">MRDS<br>
                <input id="myULD" type="checkbox" oninput="submit_dbs('ULD')">ULD<br>
                <input id="myDRUM" type="checkbox" oninput="submit_dbs('DRUM')">DRUM<br>
                <input id="mySJM" type="checkbox" oninput="submit_dbs('SJM')" checked>SJM<br>
            </form>
        </div>
    </div>
</div>

  <script>

      var optionBtn = document.getElementById('optionBtn');
      var modal = document.getElementById('simpleModal');
      var closeBtn = document.getElementsByClassName('closeBtn')[0];

      var usrDbs = ['SJM']
      usrDbs = doAjax_get_current_dbs();
      //console.log('base.html: At Very Start: usrDbs ', usrDbs);

      // function setUsrDbs(){
      //   doAjax_get_current_dbs();
      //   console.log('setUsrDbs: (usrDbs) ', usrDbs)
      // }


      optionBtn.addEventListener('click', openModal);
      closeBtn.addEventListener('click', closeModal);
      window.addEventListener('click', outsideClick);

       function openModal(){
         //console.log('Opening the modal');
         modal.style.display = 'block';
         doAjax_openModal();
       }

       function closeModal(){
         modal.style.display = 'none';
         doAjax_closeModal(usrDbs);
         //doAjax_openModal(usrDbs);
       }

       function submit_dbs(input){
         //doAjax_get_current_dbs();
         var in_arr = jQuery.inArray( input, usrDbs )
         //console.log('Submit before: (usrDbs) ', usrDbs)
         //console.log('Submit: (input) ', input)
         //console.log('Submit: (in_arr) ', in_arr)
         if(in_arr == -1){
           usrDbs.push(input)
         } else {
           usrDbs.splice($.inArray(input, usrDbs),1);
         }
         //console.log('Submit after: ', usrDbs)
       }

       function outsideClick(e){
         if(e.target == modal){
           modal.style.display = 'none';
         }
       }

       //*************************************************************
       //AJAX CALL TO UPDATE DBS FOR SUBMIT
       //*************************************************************
      function doAjax_get_current_dbs() {
           //console.log("doAjax_get_current_dbs: ready to go");
            $.ajax({
               type: "GET",
               dataType: 'json',
               contentType: 'application/json',
               url: "http://127.0.0.1:5000/options_get_current_dbs",
               success: function(data) {
                    //console.log('Open Modal Success: (data)', data, jQuery.type(data))
                    //objects = JSON.parse(data)
                    usrDbs = data
                    //console.log('doAjax_get_current_dbs: success (usrDbs)', usrDbs)
             },
             complete: function(){
                //console.log('doAjax_get_current_dbs: complete)',usrDbs)
                //return usrDbs
             }
           });
           return usrDbs
         };

       //*************************************************************
       //AJAX CALL TO OPEN MODAL AND UPDATE DBS
       //*************************************************************
       var doAjax_openModal = function() {
           //console.log("Open Modal: (usrDbs)", usrDbs, jQuery.type(usrDbs));
            $.ajax({
               type: "GET",
               url: "http://127.0.0.1:5000/options_home",
               success: function(data) {
                    //console.log('Open Modal Success: (data)', data, jQuery.type(data))
                    //objects = JSON.parse(data)
                    usrDbs = data
                    //usrDbs = objects
                    //console.log('Open Modal (usrDbs)', usrDbs)
                    //console.log("Open Modal (start)", objects);
                    $("#myMRDS").prop("checked", false);
                    $("#myULD").prop("checked", false);
                    $("#myDRUM").prop("checked", false);
                    $("#mySJM").prop("checked", false);
                     $.each(usrDbs, function(i, usrDb) {
                       if (usrDb=='MRDS'){
                         //console.log("MRDS picked");
                         $("#myMRDS").prop("checked", true);
                       } else if (usrDb=='ULD'){
                         //console.log("ULD picked");
                         $("#myULD").prop("checked", true);
                       } else if (usrDb=='DRUM'){
                         //console.log("DRUM picked");
                         $("#myDRUM").prop("checked", true);
                       } else {
                         //console.log("SJM picked");
                         $("#mySJM").prop("checked", true);
                       }
                    });
                 },
               complete: function(){
                  //console.log("Open Modal (objects)", objects);
                  //console.log('Type: ', jQuery.type(objects))
               }

             });
           };


       //*************************************************************
       //AJAX CALL TO CLOSE MODAL AND UPDATE DB
       //*************************************************************
        var doAjax_closeModal = function(usrDbs) {
          //console.log('Close Modal(usrDbs): ', usrDbs)
             $.ajax({
                type: "POST",
                url: "http://127.0.0.1:5000/options_home",
                data: JSON.stringify(usrDbs),
                dataType: 'json',
                contentType: 'application/json',
                success: function(s) {
                  //console.log('Close Modal(usrDbs): ', usrDbs)
                  },
          });
        }

  </script>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>

</html>
