<!DOCTYPE html>
<html>
<head>
     <title>UX - {% block title %}{% endblock %} </title>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
     <script src="https://cesiumjs.org/releases/1.53/Build/Cesium/Cesium.js"></script>
     <link href="https://cesiumjs.org/releases/1.53/Build/Cesium/Widgets/widgets.css" rel="stylesheet">
     <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.full.min.js"></script>
     <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js">
    </script>
</head>

<nav>
     <h1> UX - {% block subject %}{% endblock %} </h1>
  <ul id="nav_list">
       {% if g.user %}
          <li><span>{{ g.user['username'] }}</span>
       {% endif %}
     <li><a href="{{ url_for('home.homepage') }}">Home</a>
     <li><a href="{{ url_for('literature.literature') }}">Literature</a>
     <li><a href="{{ url_for('deposits.deposits_home') }}">Ore Deposits</a>
     <li><a href="{{ url_for('maps.maps_home') }}">Maps</a>
     <li><a href="{{ url_for('trading_post.the_trading_post') }}">Trading Post</a>
     <li><a href="{{ url_for('prospects.the_prospects') }}">Prospects</a>
     {% if g.user %}
          <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
     {% else %}
     <li><a href="{{ url_for('auth.register') }}">Register</a>
     <li><a href="{{ url_for('auth.login') }}">Log In</a>
     {% endif %}
     <button id="optionBtn"><i class='fas fa-ellipsis-v' style='color:gray;'></i></button>
  </ul>
</nav>
{% block body %}{% endblock %}

<!-- SET UP OPTION MODAL -->
<div id="simpleModal" class="modal">
    <div class="modal-content">
      <!-- <div style="top:100px; background-color:pink"><span class="closeBtn">&times;</span></div> -->

<!-- DATABASE SELECTION -->
        <div class="modal-body">
          <h3 style="margin:2px;">Select Databases:</h3>
            <form action="">
                <input id="myMRDS" type="checkbox" oninput="select_dbs('MRDS')">MRDS<br>
                <input id="myULD" type="checkbox" oninput="select_dbs('ULD')">ULD<br>
                <input id="myDRUM" type="checkbox" oninput="select_dbs('DRUM')">DRUM<br>
                <input id="mySJM" type="checkbox" oninput="select_dbs('SJM')" checked>SJM<br>
            </form>
        </div>

<!-- LABELING SELECTION -->
        <div class="modal-body">
          <h3 style="margin:2px">Show map labels?</h3>
            <form action="">
                <span>yes<input id="myYes" name="y_n" type="radio" oninput="select_show_labels('y')">no<input id="myNo" name="y_n" type="radio" oninput="select_show_labels('n')" checked></span>
            </form>
        </div>

<!-- SUBMIT BUTTON -->
        <div class="modal-submit">
          <button class="submitBtn" id="closeBtn">Submit</button>
        </div>
    </div>
</div>

  <script>

      var optionBtn = document.getElementById('optionBtn');
      var modal = document.getElementById('simpleModal');
      var closeBtn = document.getElementById('closeBtn');
      var usrDatabases = ['SJM']
      var usrMapLabels_yn = 'n'

      //usrDbs = doAjax_get_current_dbs();

      optionBtn.addEventListener('click', openModal);
      closeBtn.addEventListener('click', closeModal);
      window.addEventListener('click', outsideClick);

       function openModal(){
         //console.log('Opening the modal');
         modal.style.display = 'block';
         doAjax_openModal();
       }

       function closeModal(){
         //console.log('closing the modal ');

         modal.style.display = 'none';
         doAjax_closeModal();
         //doAjax_openModal(usrDbs);
       }

       function select_dbs(input){
         var in_arr = jQuery.inArray( input, usrDatabases )
         //console.log('selecting input', input)
         if(in_arr == -1){
           usrDatabases.push(input)
         } else {
           usrDatabases.splice($.inArray(input, usrDatabases),1);
         }
         //console.log('Selected dbs: ', usrDbs)
       }

       function select_show_labels(input){
         //console.log('selecting show labels', input)
         usrMapLabels_yn = input
         //console.log('select_show_labels (usrMapLabels_yn): ', usrMapLabels_yn)
       }

       function outsideClick(e){
         if(e.target == modal){
           modal.style.display = 'none';
         }
       }

       //*************************************************************
       //AJAX CALL TO OPEN MODAL AND UPDATE OPTIONS
       //*************************************************************
       var doAjax_openModal = function() {
            //console.log("doAjax_openModal");
            $.ajax({
               type: "GET",
               url: "http://127.0.0.1:5000/options_home",
               success: function(data) {

                    usrDatabases = data.usrDatabases
                    usrMapLabels_yn = data.usrMapLabels_yn
                    //console.log("doAjax_openModal usrDatabases", usrDatabases);
                    //console.log("doAjax_openModal usrMapLabels_yn", usrMapLabels_yn);

                    $("#myMRDS").prop("checked", false);
                    $("#myULD").prop("checked", false);
                    $("#myDRUM").prop("checked", false);
                    $("#mySJM").prop("checked", false);
                    //$("#myYes").prop("checked", false);
                    //$("#myNo").prop("checked", false);

                    if (usrMapLabels_yn == 'y'){
                      $("#myYes").prop("checked", true);
                    } else {
                      $("#myNo").prop("checked", true);
                    }

                    $.each(usrDatabases, function(i, usrDatabase) {
                         if (usrDatabase=='MRDS'){
                          $("#myMRDS").prop("checked", true);
                       } else if (usrDatabase=='ULD'){
                          $("#myULD").prop("checked", true);
                       } else if (usrDatabase=='DRUM'){
                          $("#myDRUM").prop("checked", true);
                       } else if (usrDatabase=='SJM'){
                          $("#mySJM").prop("checked", true);
                       }

                    });
                 },
               complete: function(){

               }
             });
           }

       //*************************************************************
       //AJAX CALL TO CLOSE MODAL AND UPDATE DB
       //*************************************************************
        var doAjax_closeModal = function() {
             $.ajax({
                type: "POST",
                url: "http://127.0.0.1:5000/options_home",
                data: JSON.stringify({"usrDatabases": usrDatabases, "usrMapLabels_yn": usrMapLabels_yn}),
                dataType: 'json',
                contentType: 'application/json',
                success: function(s) {
                  },
          });
        }

  </script>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>

</html>
