<!DOCTYPE html>
<html>
<head>
     <title>UX - {% block title %}{% endblock %} </title>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
     <script src="https://cesiumjs.org/releases/1.53/Build/Cesium/Cesium.js"></script>
     <link href="https://cesiumjs.org/releases/1.53/Build/Cesium/Widgets/widgets.css" rel="stylesheet">
     <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.full.min.js"></script>
     <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js">
    </script>
</head>

<nav>
     <h1> UX - {% block subject %}{% endblock %} </h1>
  <ul id="nav_list">
       {% if g.user %}
          <li><span>{{ g.user['username'] }}</span>
       {% endif %}
     <li><a href="{{ url_for('home.homepage') }}">Home</a>
     <li><a href="{{ url_for('literature.literature') }}">Literature</a>
     <li><a href="{{ url_for('maps.maps_home') }}">Maps</a>
     <li><a href="{{ url_for('trading_post.the_trading_post') }}">Trading Post</a>
     <li><a href="{{ url_for('prospects.the_prospects') }}">Prospects</a>
     {% if g.user %}
          <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
     {% else %}
       <li><a href="{{ url_for('auth.register') }}">Register</a>
       <li><a href="{{ url_for('auth.login') }}">Log In</a>
     {% endif %}
  </ul>
</nav>
{% block body %}{% endblock %}
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>

</html>
